.servicios-frase{

background-color: var(--mostaza-color);


}

.servicios-frase-text{
    text-align: center;
    font-size: 25px;
    
}
.servicios-frase-text h2{
    margin: 0;
    font-weight: 800;
}

@media (max-width: 900px){
   
        
        .servicios-frase-text{
            text-align: center;
            font-size: 18px;
            padding: 5px;
            
        }
        .servicios-frase-text h2{
            margin: 0;
            font-weight: 700;
        }
}